body {
    padding: 5px;
}

#mapSelect, #mapOutput {
    margin: 10px 0;
}

.modeListDiv {
    width: 24%;
    min-width: 200px;
    display: inline-block;
}

.helpText {
    font-width: bold;
    margin: 10px 0;
}

ul {
    margin: 0 0 10px;
}

ol, ol li {
    list-style: decimal inside none;
}

input {
    /*width: 25px;*/
    margin: 3px;
    margin-right: 7px;
    text-align: center;
    padding: 2px 0;
}